/**, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
}

section {
  width: 33%;
  float: left;
  min-width: 200px;
  margin: 15px auto;
  text-align: center;
}*/

/*=====================================*/
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}
.dropdown .select {
  background: #fff;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 35px 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  min-width: 160px;
}
.dropdown .select:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #555;
  top: 14px;
  right: 10px;
}
.dropdown .select:before {
  content: '';
  position: absolute;
  width: 1px;
  background: #ddd;
  top: 0;
  bottom: 0;
  right: 30px;
}
.dropdown .option-list {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  max-height: 220px;
  overflow-y: auto;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 100;
  display: none;
}
.dropdown .option-list a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown .option-list a:hover {
  background: #4285F4;
  color: #fff;
}
.dropdown .search-box {
  position: absolute;
  left: 0;
  top: 100%;
  display: inline-block;
  width: 100%;
  display: none;
}
.dropdown .search-box + .option-list {
  margin-top: 35px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.dropdown .seach-control {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  margin-top: 5px;
  padding: 5px 5px 5px 30px;
}
.dropdown .search-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #ccc;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  left: 10px;
  z-index: 2;
  top: 12px;
}
.dropdown .search-icon:after {
  content: '';
  width: 3px;
  height: 7px;
  background: #ccc;
  position: absolute;
  top: 7px;
  left: -3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dark .select {
  background: #353338;
  color: #eee;
  border-color: #444;
}
.dark .select:after {
  border-top-color: #eee;
}
.dark .select:before {
  background: #444;
}
.dark .option-list {
  background: #444;
}
.dark .option-list a {
  color: #eee;
}
.dark .option-list a:hover {
  background: #222;
}

.warning .select {
  background: #FFA500;
  color: #eee;
  border-color: #EBA21E;
}
.warning .select:after {
  border-top-color: #DD5B26;
}
.warning .select:before {
  background: #EBA21E;
}
.warning .seach-control {
  background: #FFA500;
  color: #fff;
}
.warning .search-icon {
  border-color: #fff;
}
.warning .search-icon:after {
  background: #fff;
}
.warning .option-list {
  background: #FFA500;
}
.warning .option-list a {
  color: #eee;
}
.warning .option-list a:hover {
  background: #DD5B26;
}